In [1]:
# print("hello)

In [2]:

print("hello") # This is print statement

hello

In [3]:
print("lakshmi weds surendra ")

lakshmi weds surendra

In [4]:
print("lakshmi\tloves\tsurendra")

lakshmi	loves	surendra

In [5]:
print("lakshmi \nloves\nsurendra ")

lakshmi
loves
surendra

In [6]:
print("lakshmi \nsurendra ")

lakshmi
surendra

In [7]:
print(2+2)
print(5//2)# This is floor division which gives the op to neareat smallest float value
print(2**3)
print((2*2)/3)

4
2
8
1.3333333333333333

In [8]:
a=5%2
b=5/2
print("modular division",a)
print("division",b)

modular division 1
division 2.5

In [9]:
type(a) #data typpe of a

int

In [10]:
type(b)

float

In [11]:
type("nagi")

str

In [12]:
type(True)# boolean True shouldn't in quotes

bool

In [13]:
type("True")

str

In [14]:
a=10
b=20
c=a+b
print("add",c)

add 30

In [15]:
age=float(input("enter your age:")) # input is to take value from user
print("your age",age)

enter your age:10
your age 10.0

In [16]:
age=input("enter your age")
print(age)

enter your age10
10

In [17]:
type("age")

str

In [18]:
age

'10'

In [19]:
int(age) #Type casting of age variable
type (age)

str

In [20]:
a,b,c=10,11,12
d=a+b+c
print(d)

33

In [21]:
b='1.1'
type(b)

str

In [22]:
float(b)
type(b)

str

In [23]:
a='nagi'
type(a)

str

In [24]:
int(2>4)

0

In [25]:
if True:
    print("lak")

lak

In [26]:
a=2
if a>2:
    print(a)

In [27]:
a,b=10,20
print(a>b,a<b,a!=b)
print(a>=b,b<=a)

False True True
False False

In [28]:
a=int(input("enter number:")) # input function returns string ..need to convert to others if needed
if a==2:
    print("a is 2")
elif a==3:
    print("a is 3")
else:
    print("none")

enter number:2
a is 2

In [29]:
a=input("Enter a value:") 
b=input("Enter b value:")
if int(a)==2:
    if b==4:   # considering b as string 
        print("a and b are correct ")
    else:
        print("only a is correct")
else:
    print("both are wrong")

Enter a value:2
Enter b value:3
only a is correct

In [30]:
# int(a) # string can convert to int or float only when number is stored as string (remoe comment and run to see the arror)

In [31]:
i=1
while i<10:
    print(i*i)
    i+=2

1
9
25
49
81

In [32]:
a=[1,2,3]
for i in a:
    print(a[i-1])

1
2
3

In [33]:
for i in range(1,10,2):
    print(i+1)
    if i==4:
        break

2
4
6
8
10

In [34]:
string="nagi lak"  # string is variable of value nagi
print(len(string)) # length of characters in string(include spaces)
print(string[0]) # index will start from 0 in python 
print(string[2:5]) # square brackets to access the element using index
print(string[-1]) # reverse index is possible with "-" sign (last element: -1, from last second element: -2)
print(string[0:2])# In slicing of anything the first index is inclusive and last index is exclusive......
                   # only the value at o and 1 only will come. the element at index 2 will not be included
print(string[0:2] + string[4:6])
print(string[3:]) # no end point , so from 3rd to index to all
print(string[-5:-1])

8
n
gi
k
na
na l
i lak
i la

In [35]:
print(str.upper(string))
print(str.lower(string))
print(str.title(string))

NAGI LAK
nagi lak
Nagi Lak

data types in python: int,float,boolean,string
special data types in python : list,tuple,dictionary (can store multiple values)
These can store multiple values in a variable

In [36]:
list=["nagi",55,"5.3",True] #can store different data types
print(list)

['nagi', 55, '5.3', True]

In [37]:
list[0:3:2]

['nagi', '5.3']

In [38]:
a=[1,2]
b=["string"]
c=[1,1]
d=a+c+b # concatination
print(d)

[1, 2, 1, 1, 'string']

In [39]:
len(list)

4

In [40]:
del(list[2]) # based on index position
list

['nagi', 55, True]

In [41]:
l2=[1,2,3,4,2]
l2.remove(2) # based on vale
l2     # Note: First matching one only removed

[1, 3, 4, 2]

In [42]:
l1=[1,2,3]
l1.pop(1)
l1

[1, 3]

In [43]:
3 in l1

True

In [44]:
"3" in l1

False

In [45]:
list[3 in l1]

55

l=[1,"a",2,3]
max(l)  # max , min will not work for str

In [46]:

list=[1,2,3]
for num in list:
    print("lak",num)

lak 1
lak 2
lak 3

In [47]:
l1.append(2)
l1

[1, 3, 2]

In [48]:
l1.sort()
l1

[1, 2, 3]

In [49]:
listk=[0,1,2,0]
print(sorted(listk))
listk

[0, 0, 1, 2]

[0, 1, 2, 0]

In [50]:
a=(1,2,3)  # tuple is same as list except it is immutable...so the methods which change list are not applicable to tuple
a

(1, 2, 3)

In [51]:
a[1]
a

(1, 2, 3)

In [52]:
d={'a':1,'b':2,'c':3} # dictionary
print(d)

{'a': 1, 'b': 2, 'c': 3}

In [53]:
d.keys()

dict_keys(['a', 'b', 'c'])

In [54]:
d.values()

dict_values([1, 2, 3])

In [55]:
d.get('a',[c])

1

In [56]:
d['a']

1

In [57]:
# function

def add(a,b):
    return a+b 
add(4,5)

9

In [69]:
#lambda function
x = lambda a, b : a + b    
print(x(5, 6))

11

In [70]:
# lambda iside a function
def myfunc(n):
  return lambda a : a * n
double=myfunc(2)
triple=myfunc(3)
print("double of number",double(11),"triple of number",triple(11))

double of number 22 triple of number 33

In [68]:
# class        
class Person:
    def __init__(self, name):
        self.name = name
       
p1= Person("John")
p2 = Person("a")
print(p1.name,p2.name)

John a