In [1]:
# print("hello)

In [2]:

print("hello") # This is print statement

hello

In [3]:
print(2+2)
print(5//2)# This is floor division which gives the op to neareat smallest float value
print(2**3)
print((2*2)/3)

4
2
8
1.3333333333333333

In [4]:
a=5%2
b=5/2
print("modular division",a)
print("division",b)

modular division 1
division 2.5

In [5]:
type(a) #data typpe of a

int

In [6]:
type(b)

float

In [7]:
type("nagi")

str

In [8]:
type(True)# boolean True shouldn't in quotes

bool

In [9]:
type("True")

str

In [10]:
a=10
b=20
c=a+b
print("add",c)

add 30

In [11]:
age=float(input("enter your age:")) # input is to take value from user
print("your age",age)

enter your age:10
your age 10.0

In [12]:
age=input("enter your age")
print(age)

enter your age10
10

In [13]:
type("age")

str

In [14]:
age

'10'

In [15]:
int(age) #Type casting of age variable
type (age)

str

In [16]:
a,b,c=10,11,12
d=a+b+c
print(d)

33

In [17]:
b='1.1'
type(b)

str

In [18]:
float(b)
type(b)

str

In [19]:
a='nagi'
type(a)

str

In [20]:
int(a) # string can convert to int or float only when number is stored as string

ValueError: invalid literal for int() with base 10: 'nagi'

In [21]:
x=50
y=100
print(x==y)

False

In [22]:
a,b=10,20
print(a>b,a<b,a!=b)
print(a>=b,b<=a)

False True True
False False

In [23]:
string="nagi lak"  # string is variable of value nagi
print(len(string)) # length of characters in string(include spaces)
print(string[0]) # index will start from 0 in python 
print(string[2:5]) # square brackets to access the element using index
print(string[-1]) # reverse index is possible with "-" sign (last element: -1, from last second element: -2)
print(string[0:2])# In slicing of anything the first index is inclusive and last index is exclusive......
                   # only the value at o and 1 only will come. the element at index 2 will not be included
print(string[0:2] + string[4:6])
print(string[3:]) # no end point , so from 3rd to index to all
print(string[-5:-1])

8
n
gi
k
na
na l
i lak
i la

In [24]:
print(str.upper(string))
print(str.lower(string))
print(str.title(string))

NAGI LAK
nagi lak
Nagi Lak